# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Optional: dotenv environment variables file
.env

# TypeScript compiler output
*.js
*.js.map
*.d.ts

# System files
.DS_Store

# Optional: Yarn Integrity file
.yarn-integrity

# Optional: npm debug logs
npm-debug.log*

# Optional: Yarn Error logs
yarn-error.log

# Optional: VSCode directory for workspace settings
.vscode/
